<% if @article.errors.any? %>
  <ul>
    <%= @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @article do |f| %>

  <div>
    <p> Выбирете раздел:
      <%= f.select :division_id, options_for_select(division_options, f.object.division_id) %> </p>
  </div>

  <div class="field">
    <%= f.label :title, 'название:' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.cktext_area :body, rows: 10 %>
  </div>
  <br>
  <div>
    <%= f.submit 'Сохранить изменения' %>
  </div>
<% end %>
<br>

