<% if @article.errors.any? %>
  <ul>
    <%= @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% value_array = [] %>
<% Division.all.each do |c| %>
  <% value_array << ([]<< c.name << c.id) %>
<% end %>



<%= form_with model: @article do |f| %>
  <div>
    <%= f.select :division_id, options_for_select(value_array, f.object.division_id || 2) %>
  </div>

  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
  </div>
  <div>
    <%= f.cktext_area :body, rows: 10 %>
  </div>
  <br>
  <div>
    <%= f.submit 'Сохранить изменения' %>
  </div>
<% end %>
<br>
