<h1> Список статей </h1>
<%= link_to "Создать новую статью", new_article_path %>
<hr />
<table>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to 'Показать', article_path(article) %></td>
      <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
      <td><%= link_to 'Удалить', article_path(article),
                      method: :delete,
                      data: { confirm: 'Вы подтверждаете удаление статьи?' } %></td>
    </tr>
  <% end %>
</table>




<%# @articles.each do |article| %>
<!--  <h3><%#= article.title.html_safe %></h3>-->
<!--  <p><%#= article.body.html_safe %></p>-->
  <%#= link_to "Edit Article", edit_article_path(article) %>
  <%# if article != @articles.last %>
<!--    <hr />-->
  <%# end %>
<%# end %>
